/* Chrome, Safari, Opera */ 
@-webkit-keyframes cycle{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
/* Standard syntax */ 
@keyframes cycle {
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}


img#loading {
    animation: cycle 2s linear 0s infinite;
    -webkit-animation: cycle 2s linear 0s infinite;
    -moz-animation: cycle 2s linear 0s infinite;
    -o-animation: cycle 2s linear 0s infinite; 
}